.content-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  flex-wrap: wrap;
  gap: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
}

.content-container img {
  max-height: 75vh;
}
  
.cta-button {
  background-color: var(--primary-blue-color);
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}
  
.cta-button:hover {
  background-color: var(--secondary-blue-color);
}
  