@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit&display=swap');

:root {
  --primary-blue-color: #38bdf8;
  --secondary-blue-color: #0284c7;
  --secondary-color: #1e293b;
  --tertiary-color: #475569;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  font-family: 'Kanit', sans-serif;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 100px;
  gap: 1.5rem;
}

h1 {
  font-family: 'Kanit', sans-serif;
  margin-bottom: 0.5rem;
  color: black;
}